* {
    margin: 0;
    padding: 0;
}

.container {
    width: 96%;
    margin: auto;
    /* background-color: aqua; */
}

main,
header {
    overflow: hidden;
}

.img1 {

    width: 70px;
    height: 70px;

    position: relative;
}



.home {

    padding: 10px;
    margin-top: -10px;

}

.maindivision {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: #D2D1ED;


}

.sub3 img,
.sub4 img {
    width: 37px;
    height: 37px;
    margin-top: 5px;
}

.t1 {
    margin-right: 30px;
}

.i2 {
    top: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    right: 39px;
}

.txt1 {

    width: 383px;
    height: 33px;
    border-radius: 10px;
    border: none;
    margin-top: 27px;
}

.img3 {
    position: relative;
    right: 70px;
    top: 20px;
}

.tp {

    font-size: 22px;

    margin-top: -12px;
}

.img4 {
    position: relative;
    right: 62px;
    top: 17px;
}

.maindivision2 ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    padding-top: 15px;
}

.maindivision2 a {
    text-decoration: none;
    color: black;

}

.home {

    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}

.models {
    
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.finance {
    background-color: #D6D944; 
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.service{
   
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.parts{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.ferrarishop{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.about{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.maindivision2 {
    background-color: #BCACE9;
    height: 60px;

}
.pic1{
    width: 80%;
    margin-left: 184px;
    margin-top: -46px;
}
.pic2{
    width: 70%;
    margin-left: 190px;
    margin-top: -65px
}
.subdiv1{
    background-color: #d5dbd3;
    margin-top: 34px;
    height: 1026px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.view{
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0px;
    width: 15%;
    margin-left: 600px;
    color: #C55619;
    font-family: 'Martel Sans', sans-serif;
    margin-top: -16px;

}
.view a{
    text-decoration: none;
    color: #C55619;
}
.investors{
    text-align: center;
    font-size: 35px;
    /* margin-top: 28px; */
    margin: auto;
    width: 35%;
    text-align-last: revert;
    /* margin-left: 490px; */
    background-color: #FBC8E7;
    border-radius: 10px;
    font-family: 'Martel Sans', sans-serif;
   
}
.document{
    text-align: center;
    font-size: 96px;
    color: #8B7217;
    font-family: 'Gorditas', cursive;
}
.year{
    font-size: 30px;
    border: 3px solid black;

    width: 14%;
    text-align: center;
    padding: 14px;
    font-family: 'Inconsolata', monospace;
    float: right;
    /* margin-left: 1166px; */
}
.maindiv{
    margin-top: -10px;
}
.subdiva{
    font-size: 64px;
       text-align: center;
       font-family: 'Gemunu Libre', sans-serif;
}
.subdiva h3{
    font-size: 64px;
       text-align: center;
       font-family: 'Gemunu Libre', sans-serif;
}
.subdivb{
    display: flex;
    justify-content: space-between;
}
.subdivb h4{
    font-size: 35px;
    margin-top: 10px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 100;
}
.arrow {
    position: relative;
    left: 1354px;
    top: -9px;
}
.subdiv3{
    display: flex;
    justify-content: space-between;
}
.subdiv2 h3{
       font-size: 64px;
       text-align: center;
       font-family: 'Gemunu Libre', sans-serif;
       margin-top: 20px;
}
.subdiv3 h4{
    font-size: 35px;
    margin-top: 20px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 100;
}
.subdiv3 img{
    width: 33px;
    height: 33px;
    position: relative;
    top: 4px;
}
.subdivb img{
    width: 33px;
    height: 33px;
    position: relative;
    top: 4px;
}
.picpng{
    width: 885px;
    height: 500px;
    margin-left: 324px;
    margin-top: -38px;
}
.subdivb h4, .subdiv3 h4, .year1 h4{
    color: black;
}

.mainfooter {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.p1 {
    width: 214px;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Itim', cursive;
}

.title9 {
    font-size: 30px;
}

.title1 {
    margin-top: 20px;
}

.title1 h4 {
    font-size: 20px;
    margin-top: 22px;
}

.title1 img {
    width: 84px;
    margin-left: 30px;
}

.title1,
h2,
h4 {
    color: white;
    padding-top: 5px;
}

.mainfooter {
    background-color: #0070F4;
}

.title2 {
    color: white;
    padding-top: 5px;
}

.title2,
h4 {
    font-size: 20px;
    margin-top: 11px;
}

.title3 {
    color: white;
    padding-top: 5px;
}

.title3,
h4 {
    font-size: 20px;
    margin-top: 11px;
}

.lastdiv ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 796px;
    color: white;
    font-size: 24px;
    padding: 20px 82px;
    font-family: 'Georama', sans-serif;
}

.map {
    width: 33%;
    margin-left: 44px;
    margin-top: -88px;
    padding: 27px;

}

.lastdiv {
    background-color: #0070F4;
    display: flex;
}

.title1,
h1,
p,
img {
    margin-top: 12px;
}

.footerimage {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.title2,
.title3 {
    padding-top: -110px;
}

.icon {
    width: 46%;
    margin-top: 12px;
    margin-left: 113px;
}

.title9 {
    font-family: 'Fredoka One', cursive;
}

.title2,
.tltile3,
h4 {
    font-family: 'Georama', sans-serif;
}







@media screen and (max-width:500px) {
    .maindivision {
        display: block;
      
    }
    .img1 {
        width: 70px;
        height: 70px;
        position: relative;
        margin-left: 154px;
    }
    .txt1 {
        width: 342px;
        height: 33px;
        border-radius: 10px;
        border: none;
        margin-top: 4px;
        margin-left: 10px;
    }
    .tp {
        font-size: 18px;
        margin-top: -12px;
        margin-left: 38px;
    }
    
    .sub3 img, .sub4 img {
        width: 37px;
        height: 37px;
        margin-top: 5px;
        margin-left: 69px;
    }
    .sub4 {
        margin-left: -8px;
    }
    .maindivision2 ul {
        display: block;
        
    }
    .maindivision2 {
        background-color: #BCACE9;
        height: 248px;
    }
    .pic1 {
        width: 107%;
        margin-left: 2px;
        margin-top: -20px;
    }
    .pic2 {
        width: 87%;
        margin-left: 14px;
        margin-top: 14px;
    }
    .view {
        text-align: center;
        font-size: 30px;
        border: 2px solid black;
        border-radius: 20px;
        padding: 0px;
        width: 47%;
        margin-left: 100px;
        color: #C55619;
        font-family: 'Martel Sans', sans-serif;
        margin-top: 10px;
    }
    .subdiv1 {
        background-color: #d5dbd3;
        margin-top: 34px;
        height: 485px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .investors {
        text-align: center;
        font-size: 17px;
        /* margin-top: 28px; */
        margin: auto;
        width: 71%;
        text-align-last: revert;
        /* margin-left: 490px; */
        background-color: #FBC8E7;
        border-radius: 10px;
        font-family: 'Martel Sans', sans-serif;
    }
    .document {
        text-align: center;
        font-size: 29px;
        color: #8B7217;
        font-family: 'Gorditas', cursive;
    }
    .subdiva h3 {
        font-size: 31px;
        text-align: center;
        font-family: 'Gemunu Libre', sans-serif;
        margin-top: -354px;
    }
    .year {
        font-size: 11px;
        border: 3px solid black;
        width: 14%;
        text-align: center;
        padding: 14px;
        font-family: 'Inconsolata', monospace;
        float: right;
        /* margin-left: 1166px; */
    }
    .subdivb {
        display: block;
        margin-left: 12px;
    }
    .subdivb h4{
        font-size: 22px;
        margin-top: 10px;
        font-family: 'Istok Web', sans-serif;
        font-weight: 100;
    }
    .subdiv2 h3 {
        font-size: 33px;
        text-align: center;
        font-family: 'Gemunu Libre', sans-serif;
        margin-top: 20px;
        margin-left: -33px;
    }
    .subdiv3 {
        display: block;
        margin-left: 10px;
    }
    .subdiv3 h4{
        font-size: 22px;
        margin-top: 20px;
        font-family: 'Istok Web', sans-serif;
        font-weight: 100;
    }
    .picpng {
        width: 365px;
        height: 271px;
        margin-left: 13px;
        margin-top: -38px;
    }
    .mainfooter {
        display: BLOCK;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .p1 {
        width: 214px;
        font-size: 20px;
        margin-top: 20px;
        font-family: 'Itim', cursive;
        margin-left: 50px;
    }
    .title1 img {
        width: 84px;
        margin-left: 95px;
    }
    .title2, .tltile3, h4 {
        font-family: 'Georama', sans-serif;
        margin-left: 23px;
    }
    .title9 {
        font-family: 'Fredoka One', cursive;
        margin-left: 25px;
    }                
    .title2, .title3 {
        padding-top: -110px;
        margin-left: 24px;
    }         
    .lastdiv ul {
        display: flex;
        /* justify-content: space-around; */
        
    }
    .lastdiv {
        background-color: #0070F4;
        display: block;
    }
    .lastdiv ul {
        display: flex;
        /* justify-content: space-around; */
    }
    .lastdiv ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 31px;
        color: white;
        font-size: 16px;
        padding: 8px 82px;
        font-family: 'Georama', sans-serif;
        margin-left: 100px;
     
    }
    .headlist{
        margin-left: -22px;
    }
    .title1, h1, p, img {
        margin-top: 12px;
        width: 300px;
        margin-left: 10px;
    }
    .title9 {
        font-family: 'Fredoka One', cursive;
        margin-left: 20px;
    }
    .maindivisionthree {
        margin-left: 35px;
        display: block;
        grid-template-columns: repeat(2, auto);
    }
}

