* {
    margin: 0;
    padding: 0;
}

.container {
    width: 96%;
    margin: auto;
}

main,
header {
    overflow: hidden;
}

.img1 {

    width: 70px;
    height: 70px;

    position: relative;
}




.maindivision {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: #D2D1ED;


}

.sub3 img,
.sub4 img {
    width: 37px;
    height: 37px;
    margin-top: 5px;
}

.t1 {
    margin-right: 30px;
}

.i2 {
    top: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    right: 39px;
}

.txt1 {

    width: 383px;
    height: 33px;
    border-radius: 10px;
    border: none;
    margin-top: 27px;
}

.img3 {
    position: relative;
    right: 70px;
    top: 20px;
}

.tp {

    font-size: 22px;

    margin-top: -12px;
}

.img4 {
    position: relative;
    right: 62px;
    top: 17px;
}

.maindivision2 ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    padding-top: 15px;
}

.maindivision2 a {
    text-decoration: none;
    color: black;

}

.home {

    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}

.models {
    background-color: #D6D944;
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.finance {
   
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.service{
   
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.parts{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.ferrarishop{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.about{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}

.maindivision2 {
    background-color: #BCACE9;
    height: 60px;

}

.roma1 {
    font-size: 96px;
    font-family: 'Iceberg', cursive;
    text-align: center;
}

.pic1 {
    width: 95%;
    margin: auto;
    margin-left: 29px;
    margin-top: 10px;
    position: absolute;
    top: -100px;

}

.j1 {
    background-color: rgba(201, 103, 103, 0.267);
    height: 700px;
    position: relative;
}

.n1 {
    color: black;
    position: absolute;
    top: 48%;
    left: 18%;
    font-size: 25px;
    background: yellow;
    width: 40px;
    height: 30px;
    text-align: center;
    font-family: 'Julee', cursive;

}

.n2 {
    color: black;
    position: absolute;
    top: 61%;
    left: 70%;
    font-size: 25px;
    background: yellow;
    width: 40px;
    height: 30px;
    text-align: center;
    margin-top: -93px;
    font-family: 'Julee', cursive;
}

.n3 {
    color: black;
    position: absolute;
    top: 91%;
    left: 47%;
    font-size: 25px;
    background: yellow;
    width: 40px;
    height: 30px;
    text-align: center;
    font-family: 'Julee', cursive;
}

.new {
    text-align: center;
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    color: #F21010;

}

.ferrari {
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    width: 101%;
    margin-left: -2px;


}

.engine {
    text-align: center;
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    color: #F21010;

}

.stuff {
    text-align: left;
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    margin-top: 10px;
    width: 106%;
    margin-left: 0px;
}


.f8 {

    font-size: 96px;
    font-family: 'Inder', sans-serif;
    text-align: center;

}

.pic2 {
    width: 100%;
    ;
    margin: auto;

    margin-top: 10px;
    position: absolute;
    top: -100px;

    margin-left: -7px
}

.t1 {
    background-color: #e6c8e3;
    height: 700px;
    position: relative;
    left: 1px;
}


.b1 {
    color: black;
    position: absolute;
    top: 48%;
    left: 18%;
    font-size: 25px;
    background: yellow;
    width: 40px;
    height: 30px;
    text-align: center;
    font-family: 'Julee', cursive;

}

.b2 {
    color: black;
    position: absolute;
    top: 61%;
    left: 70%;
    font-size: 25px;
    background: yellow;
    width: 40px;
    height: 30px;
    text-align: center;
    margin-top: -93px;
    font-family: 'Julee', cursive;
}

.b3 {
    color: black;
    position: absolute;
    top: 91%;
    left: 47%;
    font-size: 25px;
    background: yellow;
    width: 40px;
    height: 30px;
    text-align: center;
    font-family: 'Julee', cursive;
}

.new2023 {
    text-align: center;
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    color: #2521F2;

}

.ferrari1 {
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    width: 101%;
    margin-left: -2px;


}

.engine1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    color: #2521F2;

}

.stuff1 {
    text-align: left;
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    margin-top: 10px;
    width: 99%;
    margin-left: 2px;
}

.maindivisionthree {
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.mainfooter {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.p1 {
    width: 214px;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Itim', cursive;
}

.title9 {
    font-size: 30px;
}

.title1 {
    margin-top: 20px;
}

.title1 h4 {
    font-size: 20px;
    margin-top: 22px;
}

.title1 img {
    width: 84px;
    margin-left: 30px;
}

.title1,
h2,
h4 {
    color: white;
    padding-top: 5px;
}

.mainfooter {
    background-color: #0070F4;
}

.title2 {
    color: white;
    padding-top: 5px;
}

.title2,
h4 {
    font-size: 20px;
    margin-top: 11px;
}

.title3 {
    color: white;
    padding-top: 5px;
}

.title3,
h4 {
    font-size: 20px;
    margin-top: 11px;
}

.lastdiv ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 796px;
    color: white;
    font-size: 24px;
    padding: 20px 82px;
    font-family: 'Georama', sans-serif;
}

.map {
    width: 33%;
    margin-left: 44px;
    margin-top: -88px;
    padding: 27px;

}

.lastdiv {
    background-color: #0070F4;
    display: flex;
}

.title1,
h1,
p,
img {
    margin-top: 12px;
}

.footerimage {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.title2,
.title3 {
    padding-top: -110px;
}

.icon {
    width: 46%;
    margin-top: 12px;
    margin-left: 113px;
}

.title9 {
    font-family: 'Fredoka One', cursive;
}

.title2,
.tltile3,
h4 {
    font-family: 'Georama', sans-serif;
}



.footerimage {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.title2,
.title3 {
    padding-top: -110px;
}

.icon {
    width: 46%;
    margin-top: 12px;
    margin-left: 113px;
}

.title9 {
    font-family: 'Fredoka One', cursive;
}

.title2,
.tltile3,
h4 {
    font-family: 'Georama', sans-serif;
}







@media screen and (max-width:500px) {
    .maindivision {
        display: block;
      
    }
    .img1 {
        width: 70px;
        height: 70px;
        position: relative;
        margin-left: 154px;
    }
    .txt1 {
        width: 342px;
        height: 33px;
        border-radius: 10px;
        border: none;
        margin-top: 4px;
        margin-left: 10px;
    }
    .tp {
        font-size: 18px;
        margin-top: -12px;
        margin-left: 38px;
    }
    .i2 {
        left: 307px;
        top: -45px;
        width: 30px;
        height: 30px;
        position: relative;
        right: px;
    }
    .sub3 img, .sub4 img {
        width: 37px;
        height: 37px;
        margin-top: 5px;
        margin-left: 69px;
    }
    .sub4 {
        margin-left: -8px;
    }
    .maindivision2 ul {
        display: block;
        
    }
    .maindivision2 {
        background-color: #BCACE9;
        height: 248px;
    }
    .roma1 {
        font-size: 48px;
        font-family: 'Iceberg', cursive;
        text-align: center;
    }
    .pic1 {
        width: 100%;
        margin: auto;
        margin-left: 3px;
        margin-top: 110px;
        position: absolute;
        top: -100px;
    }
    .n1 {
        color: black;
        position: absolute;
        top: 49%;
        left: 14%;
        font-size: 25px;
        background: yellow;
        width: 27px;
        height: 28px;
    }
    .n2 {
        color: black;
        position: absolute;
        top: 82%;
        left: 70%;
        font-size: 25px;
        background: yellow;
        width: 29px;
        height: 28px;
        text-align: center;
    }
    .n3 {
        color: black;
        position: absolute;
        top: 80%;
        left: 47%;
        font-size: 25px;
        background: yellow;
        width: 27px;
        height: 27px;
    }
            .j1 {
                background-color: rgba(201, 103, 103, 0.267);
                height: 253px;
                position: relative;
            }

.new {
    text-align: center;
    font-size: 37px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    color: #F21010;
}
.ferrari {
    font-size: 22px;
    font-family: 'Jost', sans-serif;
    width: 101%;
    margin-left: 10px;
}
.engine {
    text-align: center;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    color: #F21010;
}
.stuff {
    text-align: left;
    font-size: 22px;
    font-family: 'Jost', sans-serif;
    margin-top: 10px;
    width: 106%;
    margin-left: 7px;
}
.f8 {
    font-size: 49px;
    font-family: 'Inder', sans-serif;
    text-align: center;
}
.pic2 {
    width: 100%;
    margin: auto;
    margin-top: 131px;
    position: absolute;
    top: -100px;
    margin-left: -7px;
}
.b1 {
    color: black;
    position: absolute;
    top: 50%;
    left: 11%;
    font-size: 25px;
    background: yellow;
    width: 26px;
    height: 26px;
    text-align: center;
    font-family: 'Julee', cursive;
}
.b2 {
    color: black;
    position: absolute;
    top: 85%;
    left: 70%;
    font-size: 25px;
    background: yellow;
    width: 26px;
    height: 26px;
    text-align: center;
    margin-top: -93px;
    font-family: 'Julee', cursive;
}


.b3 {
    color: black;
    position: absolute;
    top: 80%;
    left: 47%;
    font-size: 25px;
    background: yellow;
    width: 31px;
    height: 28px;
    text-align: center;
    font-family: 'Julee', cursive;
}
.t1 {
    background-color: #e6c8e3;
    height: 274px;
    position: relative;
    left: 1px;
    width: 372px;
}
.new2023 {
    text-align: center;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    color: #2521F2;
}
.ferrari1 {
    font-size: 22px;
    font-family: 'Jost', sans-serif;
    width: 101%;
    margin-left: 7px;
}
.engine1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    color: #2521F2;
}
.stuff1 {
    text-align: left;
    font-size: 22px;
    font-family: 'Jost', sans-serif;
    margin-top: 10px;
    width: 99%;
    margin-left: 2px;
}
.maindivisionthree {
    margin-left: 100px;
    display: block;
    grid-template-columns: repeat(2, auto);
}
.title1, h1, p, img {
    margin-top: 12px;
    width: 300px;
    margin-left: -58px;
}



.mainfooter {
    display: BLOCK;
    justify-content: space-around;
    margin-top: 20px;
}

.p1 {
    width: 214px;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Itim', cursive;
    margin-left: 50px;
}
.title1 img {
    width: 84px;
    margin-left: 95px;
}
.title2, .tltile3, h4 {
    font-family: 'Georama', sans-serif;
    margin-left: 23px;
}
.title9 {
    font-family: 'Fredoka One', cursive;
    margin-left: 25px;
}                
.title2, .title3 {
    padding-top: -110px;
    margin-left: 24px;
}         
.lastdiv ul {
    display: flex;
    /* justify-content: space-around; */
    
}
.lastdiv {
    background-color: #0070F4;
    display: block;
}
.lastdiv ul {
    display: flex;
    /* justify-content: space-around; */
}
.lastdiv ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 31px;
    color: white;
    font-size: 16px;
    padding: 8px 82px;
    font-family: 'Georama', sans-serif;
    margin-left: 100px;
 
}
.headlist{
    margin-left: -22px;
}
.title1, h1, p, img {
    margin-top: 12px;
    width: 300px;
    margin-left: 10px;
}
.title9 {
    font-family: 'Fredoka One', cursive;
    margin-left: 20px;
}
.maindivisionthree {
    margin-left: 35px;
    display: block;
    grid-template-columns: repeat(2, auto);
}
}