* {
    margin: 0;
    padding: 0;
}

.container {
    width: 96%;
    margin: auto;
}

main,
header {
    overflow: hidden;
}

.img1 {

    width: 70px;
    height: 70px;

    position: relative;
}



.home {

    padding: 10px;
    margin-top: -10px;

}

.maindivision {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: #D2D1ED;


}

.sub3 img,
.sub4 img {
    width: 37px;
    height: 37px;
    margin-top: 5px;
}

.t1 {
    margin-right: 30px;
}

.i2 {
    top: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    right: 39px;
}

.txt1 {

    width: 383px;
    height: 33px;
    border-radius: 10px;
    border: none;
    margin-top: 27px;
}

.img3 {
    position: relative;
    right: 70px;
    top: 20px;
}

.tp {

    font-size: 22px;

    margin-top: -12px;
}

.img4 {
    position: relative;
    right: 62px;
    top: 17px;
}

.maindivision2 ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    padding-top: 15px;
}

.maindivision2 a {
    text-decoration: none;
    color: black;

}

.home {

    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}

.models {
    
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.finance {
    
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.service{
    
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.parts{
    background-color: #D6D944; 
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.ferrarishop{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.about{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.maindivision2 {
    background-color: #BCACE9;
    height: 60px;

}
.subdiv1 h2{
    text-align: center;
    font-size: 64px;
    font-family: 'Inder', sans-serif;


}
.handle{
    display: flex;
}
.pic1{
    width: 50px;
    margin-top: 178px;
    height: 50px;
   
    margin-left: 337px;
}
.pic2{
    width: 500px;
   
}
.pic3{
    width: 50px;
    margin-top: 178px;
    height: 50px;
   
}
.maindivision1{
    margin-top: 30px; 
     background-color: #eee4e4; 
}
.maindivision5{
     background-color: #dde0c4;
     margin-top: 30px;
}
.engine{
    display: flex;
}
.subdiv2 h2{
    text-align: center;
    font-size: 64px;
    font-family: 'Inder', sans-serif;
    margin-bottom: 34px;
}
.pic4{
    height: 388px;
    margin-top: -10px;
}
.pic5{
    height: 400px;
    margin-left: 118px;
}

.maindivision6{
    background-color:#e2d1db;
    margin-top: 30px;
}
.silencer{
    display: flex;
}
.subdiv3 h2{
    text-align: center;
    font-size: 64px;
    font-family: 'Inder', sans-serif;
    margin-bottom: 67px;
}
.pic6{
    height: 388px;
    margin-top: -10px;
}
.pic7{
    height: 344px;
    margin-left: 118px;
}



.maindivision7{
    background-color:#f3e6e6;
    margin-top: 30px;
}
.wheel{
    display: flex;
}
.subdiv4 h2{
    text-align: center;
    font-size: 64px;
    font-family: 'Inder', sans-serif;
    margin-bottom: 45px;
}
.pic8{
    height: 388px;
    margin-top: -10px;
    margin-left: 79px;
}
.pic9{
    height: 344px;
    margin-left: 221px;
}
.maindivision8{
    display: flex;
    margin-left: 200px;
}
.leftarrow {
    width: 50px;
    margin-top: 177px;
    margin-left: 165px;
}
.car{
    width: 500px;
    margin-left: 61px;
    margin-top: 34px;
}
.jilla{
    
    
    margin-top: 173px;
    width: 50px;
    margin-left: 50px;
   
}
.subdiv1 h2, .subdiv2 h2, .subdiv3 h2, .subdiv4 h2{
    color: black;
}






.mainfooter {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.p1 {
    width: 214px;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Itim', cursive;
}

.title9 {
    font-size: 30px;
}

.title1 {
    margin-top: 20px;
}

.title1 h4 {
    font-size: 20px;
    margin-top: 22px;
}

.title1 img {
    width: 84px;
    margin-left: 30px;
}

.title1,
h2,
h4 {
    color: white;
    padding-top: 5px;
}

.mainfooter {
    background-color: #0070F4;
}

.title2 {
    color: white;
    padding-top: 5px;
}

.title2,
h4 {
    font-size: 20px;
    margin-top: 11px;
}

.title3 {
    color: white;
    padding-top: 5px;
}

.title3,
h4 {
    font-size: 20px;
    margin-top: 11px;
}

.lastdiv ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 796px;
    color: white;
    font-size: 24px;
    padding: 20px 82px;
    font-family: 'Georama', sans-serif;
}

.map {
    width: 33%;
    margin-left: 44px;
    margin-top: -88px;
    padding: 27px;

}

.lastdiv {
    background-color: #0070F4;
    display: flex;
}

.title1,
h1,
p,
img {
    margin-top: 12px;
}

.footerimage {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.title2,
.title3 {
    padding-top: -110px;
}

.icon {
    width: 46%;
    margin-top: 12px;
    margin-left: 113px;
}

.title9 {
    font-family: 'Fredoka One', cursive;
}

.title2,
.tltile3,
h4 {
    font-family: 'Georama', sans-serif;
}
footer{
    margin-top: 30px;
}









@media screen and (max-width:500px) {
    .maindivision {
        display: block;
      
    }
    .img1 {
        width: 70px;
        height: 70px;
        position: relative;
        margin-left: 154px;
    }
    .txt1 {
        width: 342px;
        height: 33px;
        border-radius: 10px;
        border: none;
        margin-top: 4px;
        margin-left: 10px;
    }
    .tp {
        font-size: 18px;
        margin-top: -12px;
        margin-left: 38px;
    }
    
    .sub3 img, .sub4 img {
        width: 37px;
        height: 37px;
        margin-top: 5px;
        margin-left: 69px;
    }
    .sub4 {
        margin-left: -8px;
    }
    .maindivision2 ul {
        display: block;
        
    }
    .maindivision2 {
        background-color: #BCACE9;
        height: 248px;
    }
    .subdiv1 h2 {
        text-align: center;
        font-size: 41px;
        font-family: 'Inder', sans-serif;
    }
    .pic2 {
        width: 295px;
        margin-left: -10px;
    }
    .pic1 {
        width: 50px;
        margin-top: 178px;
        height: 50px;
        margin-left: 1px;
    }
    .maindivision1 {
        margin-top: 30px;
        background-color: #eee4e4;
        height: 381px;
    }
    .pic1 {
        width: 50px;
        margin-top: 121px;
        height: 50px;
        margin-left: -3px;
    }
    .pic3 {
        width: 50px;
        margin-top: 125px;
        height: 50px;
        margin-left: -10px;
    }
    .subdiv2 h2 {
        text-align: center;
        font-size: 47px;
        font-family: 'Inder', sans-serif;
        margin-bottom: 34px;
    }
    
    .engine {
        display: block;
    }
    .pic4 {
        height: 270px;
        margin-top: -10px;
        margin-left: 25px;
    }
    .pic5 {
        height: 257px;
        margin-left: 37px;
    }
    .subdiv3 h2 {
        text-align: center;
        font-size: 50px;
        font-family: 'Inder', sans-serif;
        margin-bottom: 67px;
    }
    .silencer {
        display: block;
    }
    .pic6 {
        height: 270px;
        margin-top: -25px;
        margin-left: 19px;
    }
    .pic7 {
        height: 241px;
        margin-left: 25px;
    }
    .subdiv4 h2 {
        text-align: center;
        font-size: 50px;
        font-family: 'Inder', sans-serif;
        margin-bottom: 45px;
    }
    .wheel {
        display: block;
    }
    .pic8 {
        height: 319px;
        margin-top: -10px;
        margin-left: 48px;
    }
    .pic9 {
        height: 224px;
        margin-left: 26px;
    }
    .leftarrow {
        width: 50px;
        margin-top: 177px;
        margin-left: -178px;
    }
    .car {
        width: 152px;
        margin-left: -80px;
        margin-top: 132px;
        margin-bottom: 93px;
    }   
    .mainfooter {
        display: BLOCK;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .p1 {
        width: 214px;
        font-size: 20px;
        margin-top: 20px;
        font-family: 'Itim', cursive;
        margin-left: 50px;
    }
    .title1 img {
        width: 84px;
        margin-left: 95px;
    }
    .title2, .tltile3, h4 {
        font-family: 'Georama', sans-serif;
        margin-left: 23px;
    }
    .title9 {
        font-family: 'Fredoka One', cursive;
        margin-left: 25px;
    }                
    .title2, .title3 {
        padding-top: -110px;
        margin-left: 24px;
    }         
    .lastdiv ul {
        display: flex;
        /* justify-content: space-around; */
        
    }
    .lastdiv {
        background-color: #0070F4;
        display: block;
    }
    .lastdiv ul {
        display: flex;
        /* justify-content: space-around; */
    }
    .lastdiv ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 31px;
        color: white;
        font-size: 16px;
        padding: 8px 82px;
        font-family: 'Georama', sans-serif;
        margin-left: 100px;
     
    }
    .headlist{
        margin-left: -22px;
    }
    .title1, h1, p, img {
        margin-top: 12px;
        width: 300px;
        margin-left: 10px;
    }
    .title9 {
        font-family: 'Fredoka One', cursive;
        margin-left: 20px;
    }
    .maindivisionthree {
        margin-left: 35px;
        display: block;
        grid-template-columns: repeat(2, auto);
    }
}