* {
    margin: 0;
    padding: 0;
}

.container {
    width: 96%;
    margin: auto;
}

 main,
header,
footer {
    overflow: hidden;
}

.img1 {

    width: 70px;
    height: 70px;

    position: relative;


}


.maindivision {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: #D2D1ED;

}



.sub3 img,
.sub4 img {
    width: 37px;
    height: 37px;
    margin-top: 5px;
}

.t1 {
    margin-right: 30px;
}

.i2 {
    top: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    right: 39px;
}

.txt1 {

    width: 383px;
    height: 33px;
    border-radius: 10px;
    border: none;
    margin-top: 27px;
}

.img3 {
    position: relative;
    right: 70px;
    top: 20px;
}

.tp {

    font-size: 22px;

    margin-top: -12px;
}

.img4 {
    position: relative;
    right: 62px;
    top: 17px;
}

.maindivision2 ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    padding-top: 15px;
}

.maindivision2 a {
    text-decoration: none;
    color: black;

}

.home {
    background-color: #D6D944;
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}

.models {

    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}

.finance {

    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.service{
   
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.parts{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.ferrarishop{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}
.about{
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
}

.maindivision2 {
    background-color: #BCACE9;
    height: 60px;

}


.roma {
    text-align: center;
    background-color: #86AAD4;
    width: 220px;
    margin: auto;
    padding: 10px;
}
/* 
.t1 {
    overflow: hidden;
} */

.headlist ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.headlist li {
    font-size: 30px;
    background-color: #D5CBFD;
    margin-top: 22px;
    width: 315px;
    height: 48px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Itim', cursive;
}

.range {
    text-align: center;
    font-size: 25px;
    font-family: 'BatmanForeverAlternate', sans-serif;
}

.car1 {
    display: flex;
}

.car2 {
    margin-left: 84px;
}

.star {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.star1 img,
.star2 img {

    width: 30px;
    position: relative;
    right: 75px;
    top: 1px;
}

.star1 {

    background-color: #E03AC5;
    width: 220px;
    text-align: center;
    height: 59px
}

.star2 {
    background-color: #E03AC5;
    width: 220px;
    text-align: center;
}

.stra {

    font-size: 24px;
    margin-top: -31px;
    margin-left: 26px;
    font-family: 'Kaisei HarunoUmi', sans-serif;

}

.spi {

    font-size: 24px;
    margin-top: -30px;
    font-family: 'Kaisei HarunoUmi', sans-serif;
    font-weight: bolder;
    margin-left: 12px;

}

.i1 {
    margin-right: 10px;
}



.div1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Mina', sans-serif;
    color: #3B38BE;
}

.div1img {
    padding: 17px 20px;
}

.div1p {
    width: 30%;
    font-size: 25px;
    top: 50px;
    color: black;
    padding: 41px 0px;
}

.div1a {
    background-color: #d7d7ee;
    display: flex;
    justify-content: space-around;


}

.div2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Mina', sans-serif;
    color: #BB2828;
}

.div2img {
    padding: 17px 20px;
    position: relative;
    right: 500px;
}

.div2p {
    width: 30%;
    font-size: 25px;

    color: black;
    padding: 41px 0px;
    position: relative;
    left: 800px;
}

.div2a {
    background-color: #dda8a8;
    display: flex;
    justify-content: space-around;


}

.div3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Mina', sans-serif;
    color: #3B38BE;

}

.div3img {
    margin-top: -78px;
    margin-left: 109px;
}

.j1 {
    margin-top: -30px;
}

.div3p {
    width: 30%;
    font-size: 25px;
    top: 50px;
    color: black;
    padding: 30px 0px;
    margin-left: 58px
}

.div3a {
    background-color: #d7d7ee;
    display: flex;
    justify-content: space-around;
    height: 347px;
}

.mainfooter {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.p1 {
    width: 214px;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Itim', cursive;
}

.title9 {
    font-size: 30px;
}

.title1 {
    margin-top: 20px;
}

.title1 h4 {
    font-size: 20px;
    margin-top: 22px;
}

.title1 img {
    width: 84px;
    margin-left: 30px;
}

.title1,
h2,
h4 {
    color: white;
    padding-top: 5px;
}

.mainfooter {
    background-color: #0070F4;
}

.title2 {
    color: white;
    padding-top: 5px;
}

.title2,
h4 {
    font-size: 20px;
    margin-top: 11px;
}

.title3 {
    color: white;
    padding-top: 5px;
}

.title3,
h4 {
    font-size: 20px;
    margin-top: 11px;
}

.lastdiv ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 796px;
    color: white;
    font-size: 24px;
    padding: 20px 82px;
    font-family: 'Georama', sans-serif;
}

.map {
    width: 33%;
    margin-left: 44px;
    margin-top: -88px;
    padding: 27px;

}

.lastdiv {
    background-color: #0070F4;
    display: flex;
}

.title1,
h1,
p,
img {
    margin-top: 12px;
}

.footerimage {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.title2,
.title3 {
    padding-top: -110px;
}

.icon {
    width: 46%;
    margin-top: 12px;
    margin-left: 113px;
}

.title9 {
    font-family: 'Fredoka One', cursive;
}

.title2,
.tltile3,
h4 {
    font-family: 'Georama', sans-serif;
}








@media screen and (max-width:500px) {
    .maindivision {
        display: block;
      
    }
    .img1 {
        width: 70px;
        height: 70px;
        position: relative;
        margin-left: 154px;
    }
    .txt1 {
        width: 342px;
        height: 33px;
        border-radius: 10px;
        border: none;
        margin-top: 4px;
        margin-left: 10px;
    }
    .tp {
        font-size: 18px;
        margin-top: -12px;
        margin-left: 38px;
    }
    
    .sub3 img, .sub4 img {
        width: 37px;
        height: 37px;
        margin-top: 5px;
        margin-left: 69px;
    }
    .sub4 {
        margin-left: -8px;
    }
    .maindivision2 ul {
        display: block;
        
    }
    .maindivision2 {
        background-color: #BCACE9;
        height: 248px;
    }
    .t1 {
        margin-left: -39px;
        width: 490px;
        height: 244px;
    }
    .roma {
        width: 188px;
        font-size: 25px;
    }
    .headlist ul {
        display: block;
        justify-content: space-around;
        list-style-type: none;
    }
    .headlist li {
        font-size: 30px;
        margin-top: 22px;
        width: 315px;
        height: 51px;
        margin-left: 61px;
    }
    .range {
        text-align: center;
        font-size: 17px;
        font-family: 'BatmanForeverAlternate', sans-serif;
        margin-left: 49px;
    }
    .car1 {
        display: block;
    }
    .car2 {
        margin-left: 8px;
        width: 382px;
    } 
    .star {
        display: block;
        
    }
    .star1 {
        background-color: #E03AC5;
        width: 220px;
        text-align: center;
        height: 59px;
        margin-left:87px;
        position: relative;
        top: -257px;
    }
    .star2 {
        background-color: #E03AC5;
        width: 220px;
        text-align: center;
        margin-left: 89px;
        height: 60px;
        margin-top: -60px;
    }
    .div1 {
        text-align: center;
        font-size: 16px;
        font-family: 'Mina', sans-serif;
        color: #3B38BE;
        margin-bottom: 40px;
        margin-left: 24px;
    }
    .div1a {
        background-color: #d7d7ee;
        display: block;
        justify-content: space-around;
    }
    .div1p {
        width: 90%;
        font-size: 25px;
        top: 50px;
        color: black;
        padding: 41px 0px;
        margin-left: 17px;
    }
    .title1, h1, p, img {
        margin-top: 12px;
        width: 336px;
    }
    .div2 {
        text-align: center;
        font-size: 18px;
        font-family: 'Mina', sans-serif;
        color: #BB2828;
        margin-left: 37px;
    }
    .div2a {
        background-color: #dda8a8;
        display: block;
        justify-content: space-around;
    }
    .div2p {
        width: 30%;
        font-size: 25px;
        color: black;
        padding: 41px 0px;
        position: relative;
        left: 36px;
    }
    .div2img {
        padding: 17px 20px;
        position: relative;
        right: 00px;
    }
    .div3 {
        text-align: center;
        font-size: 18px;
        font-family: 'Mina', sans-serif;
        color: #3B38BE;
        margin-left: 24px;
    }
    .div3a {
        background-color: #d7d7ee;
        display: block;
        justify-content: space-around;
        height: 581px;
    }
    .spi {
        font-size: 24px;
        margin-top: -30px;
        font-family: 'Kaisei HarunoUmi', sans-serif;
        font-weight: bolder;
        margin-left: -51px;
    }
    .j1 {
        margin-top: 7px;
        margin-left: -94px;
    }        
    .mainfooter {
        display: BLOCK;
        justify-content: space-around;
        margin-top: 20px;
    }
   
    .p1 {
        width: 214px;
        font-size: 20px;
        margin-top: 20px;
        font-family: 'Itim', cursive;
        margin-left: 50px;
    }
    .title1 img {
        width: 84px;
        margin-left: 95px;
    }
    .title2, .tltile3, h4 {
        font-family: 'Georama', sans-serif;
        margin-left: 23px;
    }
    .title9 {
        font-family: 'Fredoka One', cursive;
        margin-left: 25px;
    }                
    .title2, .title3 {
        padding-top: -110px;
        margin-left: 24px;
    }         
    .lastdiv ul {
        display: flex;
        /* justify-content: space-around; */
        
    }
    .lastdiv {
        background-color: #0070F4;
        display: block;
    }
    .lastdiv ul {
        display: flex;
        /* justify-content: space-around; */
    }
    .lastdiv ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 31px;
        color: white;
        font-size: 16px;
        padding: 8px 82px;
        font-family: 'Georama', sans-serif;
        margin-left: 100px;
     
    }
    .headlist{
        margin-left: -22px;
    }
    
    
       
    


    }
